extends ../layouts/common 
block headContent
block navbar
  h1 Login
  if errors
      each error in errors
          .alert.alert-danger= error
  if wrongEmail
      each a in wrongEmail
          .alert.alert-warning= wrongEmail
 
  if sucess
      each notice in sucess
          .alert.alert-info= sucess
    
  form( method="POST")
        .form-group
            label(for="email" style="text-align:left") Email
            input#email.form-control(type="text",name='email', value=values ? values.email : '')
        .form-group
            label(for="password") Password
            input#password.form-control(type="password",name='password', value=values ? values.password : '')
        button.btn.btn-primary Login
  a.btn.btn-primary(href="/auth/resign") sign up
    