extends ../layouts/userOnly 
block headContent
block navbar
  h1 Welcome back #{user.name}
  h2 your profile
  ul
    li User Name:  &nbsp&nbsp&nbsp 
      span= user.name
    li Email:  &nbsp&nbsp&nbsp 
      span= user.email
    li ID:  &nbsp&nbsp&nbsp 
      span= user.id
    li Password:  &nbsp&nbsp&nbsp 
      span= user.password
  