extends ../layouts/common 
block headContent
block navbar
     h1 Rental List
     a.btn.btn-primary(href="/transaction/create") Create New Transactions
     table.table.mt-3
       tr
         th User
         th Book
         th ID rental
         th Status
         tr
           each item in rentalList
              tr
                 td= item.email
                 td= item.bookId 
                 td= item.id
                 td= item.status
                 td 
                      if item.isComplete 
                        span Returned
                      else
                        span Renting
                         span.ml-5
                          a.btn.btn-danger(href='/transaction/' + item.id + '/complete') Completenav(aria-label="Page navigation example")
        - var previous = page - 1
        - var next = page + 1
        - var window = 5
        - var maxleft = (page - Math.floor(window / 2))
        - var maxRight = (page + Math.floor(window / 2))

        if(maxleft < 1) 
          - maxleft = 1
          - maxRight = window

        if(maxRight > maxPage)
          - maxleft = (maxPage - (window - 1))
          - maxRight = maxPage
          if(maxleft < 1) 
            - maxleft = 1

        ul.pagination.justify-content-center
          - var currPage = maxleft
          if(page > 1)
            li.page-item
              a.page-link(href='/users/index?page='+ previous) <<
          while currPage <= maxRight
            li.page-item
              a.page-link(href='/users/index?page='+ currPage)= currPage
              - currPage = currPage + 1 
          if(next <= maxPage)
            li.page-item
              a.page-link(href='/users/index?page='+ next) >>
   a(href="/" class="btn btn-primary" role="button") Menu List        

          
            
          