extends ../layouts/common 
block headContent
block navbar

  h1 User List
  

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
  .nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center
          while n < 20
              li.page-item
                  a.page-link(href='/users/index?page='+ n)= n++

  a(href="/" class="btn btn-primary" role="button") Menu List
   // bạn ở đây phải không dạ
   // ở đây bạn có cho nó + n nè 
   // à mình xem qua code xí
   // bạn cứ nói đi
   
   
          // dạ em muốn hiện chỉ có 5 ô.. vd có 20 ô ở đây..tất cả đều có dữ liệu..tại list em nó ngắn.
          //mỗi page chỉ hiện 5 pagination thôi ạ... của em đang bị hiện tất cả 20 cái ạ
          // em muốn có tổng cộng 20 trang.. nhưng chỉ muốn hiện 5 trang..
          //làm sao khi click vào một trang