extends ../layouts/common 
block headContent
block navbar

  h1 User List #{currPage}
  

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
  .nav(aria-label="Page navigation example")
      div current page: #{currPage}
      div max page: #{maxPage}
      ul.pagination.justify-content-center
        if(currPage > 1)
          li.page-item
            a.page-link(href='/users/index?page='+ --currPage) <<
        if(currPage + 1  < maxPage)
          li.page-item
            a.page-link(href='/users/index?page='+ ++currPage) >>


  a(href="/" class="btn btn-primary" role="button") Menu List

      // chắc là do while loop vô hạn ạ
      // ui chết :v 
      // chậc đoạn này không có for cái dùng while mệt nhỉ 
      // um ~ mình cũng xem đây
      //https://pugjs.org/language/iteration.html anh xem trang này có for k ạ
      // hừm mình ngồi làm cái này 1 xí nha 
      // xong rồi mình ngồi giải thích lại ... dạ..