extends ../layouts/common 
block headContent
block navbar

  h1 User List
  

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
  .nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center
        if(currPage = 1)
          li.page-item
            a.page-link(href='/users/index?page='+ currPage-1) "<<"
        while n < 10
          li.page-item
            a.page-link(href='/users/index?page='+ currPage)= n++ 
        if((currPage + 5) )
          li.page-item
            a.page-link(href='/users/index?page='+ currPage+1) >>


  a(href="/" class="btn btn-primary" role="button") Menu List
  // em xóa tạm nhé?
  // sao limit ít thế anh nhỉ :))
  // free mà :v :))
  // làm sao để nó dừng bh ạ?
  // hừm sao nó bị mãi thế nhể
  // 2 cái if else bạn bỏ ngoài while nhá :)) em xóa parseInt rồi ạ
  // :v nó ra không phải số NaN kìa
  //đâu ạ?
  // nếu là string thì "1" + 1 = "11" :v 