extends ../layouts/common 
block headContent
block navbar

  h1 User List
  a.btn.btn-primary(href="/users/create") Create New Transactions

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete

  a(href="/" class="btn btn-primary" role="button") Menu List
   
   
   
   
          