extends ../layouts/common 
block headContent
block navbar

  h1 User List
  div current page: #{page}
  div max page: #{maxPage}

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
  .nav(aria-label="Page navigation example")
      - var previous = page - 1
      - var next = page + 1
      - var window = 5
      - var maxleft = (page - Math.floor(window / 2))
      - var maxRight = (page + Math.floor(window / 2))
      if(maxleft < 1) 
        - maxleft = 1
        - maxRight = window
      if(maxRight)
        - maxleft = 
      ul.pagination.justify-content-center
    
        if(page > 1)
          li.page-item
            a.page-link(href='/users/index?page='+ previous) <<
        
        if(next < maxPage)
          li.page-item
            a.page-link(href='/users/index?page='+ next) >>


  a(href="/" class="btn btn-primary" role="button") Menu List
  // em xóa tạm nhé? em thử làm nhé
  // lên xuống qua về có vẻ ổn rồi đó bạn 
  // bây giờ bạn có thể dựa vào currPage với maxPage để while ra // dạ..không sao ạ... anh cứ thoải mái ạ..sr anh ạ >< 
  // mình xin đi mua đồ 1 lát nha ^^ ... vọc vạch đi thí về mình xem cho ok ạ