extends ../layouts/common 
block headContent
block navbar

  h1 User List
  

  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td= user.password
        td= user.email
        td= user.isAdmin
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
  .nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center
        if(currPage > 1)
          li.page-item
            a.page-link(href='/users/index?page='+ currPage-1) <<
        if(currPage + 1  < maxPage)
          li.page-item
            a.page-link(href='/users/index?page='+ currPage+1) >>


  a(href="/" class="btn btn-primary" role="button") Menu List
  // em xóa tạm nhé?
  // sao limit ít thế anh nhỉ :))
  // free mà :v :))
  // làm sao để nó dừng bh ạ?
  // hừm sao nó bị mãi thế nhể
  // 2 cái if else bạn bỏ ngoài while nhá :)) em xóa parseInt rồi ạ
  // :v nó ra không phải số NaN kìa
  //đâu ạ?
  // nếu là string thì "1" + 1 = "11" :v 
  // hừm để cho đơn gian mình nghĩ bạn nên tạm tắt while đi để << với >> thôi xem tăng lên xuống được không 
  // rồi khi đó để while ren ra << 1 2 3 4 5 >> vấn đề là khi bạn bấm trang số 2 hoặc >> thì nó sẽ phải là như vầy << 2 3 4 5 6 >>
  // đại loại vậy
  // dạ.. ý em là vậy ạ :))
  // each ns in n
          li.page-item
            a.page-link(href='/users/index?page='+ currPage)= ns++ 
            // để đó đã